@charset "UTF-8";
:root {
  --color-white: #ffffff;
  --brand-color: #2196f3;
  --brand-color-black: #000000;
  --brand-color-white: #ffffff;
  --icon-color: #afb1b8;
  --background-color-section: #2f303a;
  --text-color: #212121;
  --text-color-two: #757575;
  --color-section-text-two: rgba(255, 255, 255, 0.6);
  --button-filter-color: #f5f4fa;
  --button-filter-color-hover: #188ce8;
  --color-border: #eeeeee;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --font-general: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
  --font-w500: 500;
  --font-w700: 700;
  --font-w900: 900;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav, .contacts, .address-list, .icons-list, .buttons-list, .excellence-list, .development, .team-list, .clients-list, .portfolio {
  list-style: none;
}

body {
  background-color: var(--color-white);
  color: var(--text-color);
  font-family: var(--font-general);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 95px 0;
}

.section--no-pt {
  padding-top: 0;
}

.section--fon {
  background: var(--button-filter-color);
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--font-w700);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section-hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-white);
  font-weight: var(--font-w900);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  color: var(--brand-color);
  text-decoration: none;
  font-family: var(--font-logo);
  font-weight: var(--font-w700);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--black {
  color: var(--brand-color-black);
}

.logo--white {
  color: var(--brand-color-white);
}

.header__logo {
  padding: 25px 0;
  margin-right: 90px;
}

.footer__logo {
  margin-bottom: 20px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: var(--font-w500);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-color);
}

.current {
  position: relative;
  color: var(--brand-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts--ml {
  margin-left: auto;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color-two);
  text-decoration: none;
  font-weight: var(--font-w500);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.address-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.address-list__link {
  display: block;
  text-decoration: none;
  color: var(--color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__link--footer-color-two {
  color: var(--color-section-text-two);
}

.media--mr {
  margin-right: 93px;
}

.media__text,
.subscription__text {
  margin-bottom: 20px;
  color: var(--color-white);
  font-weight: var(--font-w700);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscription__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: var(--background-color-section);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.icons-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--color-white);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.icons-list__link--white {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-list__link:hover, .icons-list__link:focus {
  color: var(--color-white);
  background-color: var(--brand-color);
}

.icons-list__icon {
  fill: currentColor;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  font-family: inherit;
  font-weight: var(--font-w700);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--button-filter-color-hover);
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: var(--font-w500);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-filter-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.button-filter:hover, .button-filter:focus {
  color: var(--color-white);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  /* Позиционирование */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* Геометрия */
  width: 528px;
  height: 581px;
  border-radius: 4px;
  /* Текст */
  /* Оформление */
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-modal {
  padding: 40px;
}

.form-modal__title {
  margin-bottom: 12px;
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-w700);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-modal__button {
  display: block;
  margin: 0 auto;
}

.cross {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.cross__icon {
  fill: var(--text-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.cross:hover .cross__icon {
  fill: var(--brand-color);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  margin-bottom: 4px;
  color: var(--text-color-two);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field--mb {
  margin-bottom: 20px;
}

.form-field__input-icon {
  position: relative;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form-field__input:focus {
  border-color: var(--brand-color);
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  fill: currentColor;
}

.form-field__input:focus + .form-field__icon {
  fill: var(--brand-color);
}

.form-field__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: currentColor;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form-field__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment:focus {
  border-color: var(--brand-color);
}

.form-modal__checkbox[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 4px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid var(--text-color);
}

.form-modal__checkbox:checked + .form-modal__check {
  background-color: var(--brand-color);
  border: none;
}

.form-modal__icon-checkbox {
  fill: var(--color-white);
  stroke: var(--color-white);
  stroke-width: 0.2px;
}

.form-modal__checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: var(--text-color-two);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-modal__link {
  color: var(--brand-color);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color-section);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo-address {
  margin-right: 70px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--background-color-section);
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.excellence-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excellence-list__item {
  max-width: 270px;
}

.excellence-list__item:not(:last-child) {
  margin-right: 30px;
}

.excellence-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--button-filter-color);
}

.excellence__subtitle {
  margin-bottom: 10px;
  font-weight: var(--font-w700);
  font-size: 14p;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.excellence__text {
  color: var(--text-color-two);
  font-size: 14p;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.development__item {
  position: relative;
}

.development__item:not(:last-child) {
  margin-right: 30px;
}

.development__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.development__text {
  color: var(--color-white);
  text-align: center;
  font-weight: var(--font-w700);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__meta {
  padding: 30px 0;
}

.team-list__subtitle {
  margin-bottom: 10px;
  font-weight: var(--font-w500);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 15px;
  color: var(--text-color-two);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.clients-list__icon {
  fill: currentColor;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--color-white);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__images-box {
  position: relative;
  overflow: hidden;
}

.portfolio__wrapper {
  padding: 20px 24px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.portfolio__title {
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: var(--font-w700);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  color: var(--text-color-two);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */