.footer {
  padding: 60px 0;

  background-color: var(--background-color-section);
}

.container_footer_flex {
  display: flex;
  align-items: baseline;
}

.footer__logo-address {
  margin-right: 70px;
  flex-grow: 1;
}
