.form-modal {
  padding: 40px;
}

.form-modal__title {
  margin-bottom: 12px;

  font-weight: var(--font-w700);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
