.icons-list {
  @extend %list;
  @extend %flex;
  justify-content: center;
}

.icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.icons-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--color-white);

  transition: color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--brand-color);
  }
}

.icons-list__link--white {
  @extend .icons-list__link;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-list__icon {
  fill: currentColor;
}
