.logo {
  display: inline-block;

  color: var(--brand-color);
  text-decoration: none;
  font-family: var(--font-logo);
  font-weight: var(--font-w700);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--black {
    color: var(--brand-color-black);
  }

  &--white {
    color: var(--brand-color-white);
  }
}

.header__logo {
  padding: 25px 0;
  margin-right: 90px;
}

.footer__logo {
  margin-bottom: 20px;
}