.modal {
  /* Позиционирование */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Геометрия */

  width: 528px;
  height: 581px;
  border-radius: 4px;

  /* Текст */

  /* Оформление */
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-modal {
  padding: 40px;
}

.form-modal__title {
  margin-bottom: 12px;

  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-w700);
  @include font (20px, 1.15, 0.03em);
}

.form-modal__button {
  display: block;
  margin: 0 auto;
}