.section {
  padding: 95px 0;
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.section--no-pt {
  padding-top: 0;
}

.section--fon {
  background: var(--button-filter-color);
}
