.section-hero__title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--color-white);
    font-weight: var(--font-w900);
    @include font (44px, 1.36, 0.06em);
    text-transform: uppercase;
}