:root {
  --color-white: #ffffff;
  --brand-color: #2196f3;
  --brand-color-black: #000000;
  --brand-color-white: #ffffff;
  --icon-color: #afb1b8;
  --background-color-section: #2f303a;
  --text-color: #212121;
  --text-color-two: #757575;
  --color-section-text-two: rgba(255, 255, 255, 0.6);
  --button-filter-color: #f5f4fa;
  --button-filter-color-hover: #188ce8;
  --color-border: #eeeeee;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --font-general: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
  --font-w400: 400;
  --font-w500: 500;
  --font-w700: 700;
  --font-w900: 900;
}
